*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    min-width: 320px;
    height: 200px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #3498DB 100%);
}
.header--title-container{
    align-self: center;
    height: 100px;
    margin-top: 45px;
    max-width: 900px;
    min-width: 288px;
    text-align: center;
    width: 90%;
}
.header--title-container h1{
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: white;
}
.header--title-container p{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 25px;
    color: wheat;
}
header button{
    margin: 25px auto;
    padding: 5px 10px;
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 40px;
    height: 35px;
}
header button a{
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}
main{
    width: 100%;
    height: auto;
    background-color: black;
    min-width: 320px;
    display: flex;
    flex-direction: column;
}
.main-card-container{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    min-height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: #36332e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(88, 83, 83, 0.986);
}
.main-card-container h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: blanchedalmond;
    text-align: center;
    margin: 15px auto;
}
.main-card-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.main-card-container label{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.8rem;
    color: whitesmoke;
}
.main-card-container input{
    border: none;
    height: 40px;
    padding: 0 10px;
    /* outline: none; */
    width: 90%;
    margin: 10px auto;
    border-radius: 5px;
}
.main-card-container .answer{
    border: none;
    background: transparent;
    border-bottom: 2px solid orange;
    color: white;
    font-size: 1.6rem;
    text-align: center;
}
.main-card-container .answer:hover{
    border: none;
    background: transparent;
    border-bottom: 2px solid orange;
}
.main-card-container button{
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    color: #5f6368;
    font-size: 1.4rem;
    height: 36px;
    margin: 15px auto;
    padding: 0 10px;
    margin-left: 10px;
}
footer{
    width: 100%;
    min-width: 320px;
    height: 150px;
    /* position: relative; */
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #3498DB;
    text-align: center;
}
footer h2{
    font-size: 1.8rem;
    margin: auto;
}